<table class="table table-hover">
  <thead>
    <th>Name</th>        
    <th>Email</th>
    <th>Type</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let id of list; let l = length">
      <td (click)="onEdit(id)">{{id.fullName}}</td>
      <td (click)="onEdit(id)">{{id.email}}</td>        
      <td (click)="onEdit(id)">{{id.type}}</td>
      <td><a class="btn text-danger" (click)=onDelete(id.id)><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
  <thead>
    <th>User count</th>
  </thead>
  <tbody>
    <tr>
      <td>{{list.length}}</td>
    </tr>
  </tbody>
</table>