<h1 class="display-4">User Registration</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Full name" required>
  </div>
  <div class="form-group">
    <input name="email" #fullName="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="Email" required>
  </div>
  <div class="form-group">
    <input type="password" name="password" #fullName="ngModel" [(ngModel)]="service.formData.password" class="form-control" placeholder="Password" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="type" #fullName="ngModel" [(ngModel)]="service.formData.type" class="form-control" placeholder="Type" required>
    </div>     
    <div class="form-group col-md-6">
      <input name="phone" #fullName="ngModel" [(ngModel)]="service.formData.phone" class="form-control" placeholder="Phone" required>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">Register</button>
  </div> 
</form>